body {
    font-family: Arial;
    background: #f0f0f0;
}

.container {
    width: 350px;
    margin: 50px auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
}

button {
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
}
